{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jasmine": true,
    "protractor": true
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "no-bitwise": 1
  }
}
